<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="exel_File.Read_Data"/>
      <class name="exel_File.ReadDataLooping"/>
      <class name="exel_File.Get_Last_Row_Cell_Num"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
